<div class=@StepClass>
    <RadzenIcon Icon="@Icon"
                IconColor="@IconColour" />
                <span class="padleft">FsmStep @Name</span>
</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

