<div class=@StepClass @onclick="FireDefault">
    <RadzenIcon Icon="@Icon"
                IconColor="@IconColour" />
                <span class="padleft">@StepNumber @Name</span>
</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

