<p>Please enter your password, then click 'Login'</p>
    <div class="form-group">
        <label for="passwordbox">Type password</label>
        <InputText @bind-Value="@Pass" id="passwordbox" />
    </div>
    <button class="btn btn-primary" 
        @onclick=@(()=>WorkFlow?.Fire("Login"))>Login</button>

@code {
    [Parameter] public FsmWorkFlow? WorkFlow { get; set; }

    private string passwordTyped = string.Empty;

    [Parameter] public string Pass 
    { 
        get => passwordTyped; 
        set
        {
            if (value != passwordTyped)
            {
                passwordTyped = value;
                PassChanged.InvokeAsync(value);
            }
        }
    } 

    [Parameter]
    public EventCallback<string> PassChanged { get; set; }
}
