<h3>FsmWorkFlow</h3>
<div class="workflow">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
    <div class="fillright" />
    <div class="newrow" />
    <div class="stepbody">
        @ActiveState?.TabBody
    </div>
</div>

